{% extends "home.html" %}
{% block content %}
<h1>About the Dataset</h1>
<p><strong>Creator:</strong> Valakhorasani</p>
<p><strong>Source:</strong> <a href="https://www.kaggle.com/datasets/valakhorasani/gym-members-exercise-dataset" target="_blank">Kaggle Dataset</a></p>

<p>This dataset includes 973 samples of gym data, with details on:</p>
<ul>
    <li><strong>Age:</strong> The age of the gym member.</li>
    <li><strong>Gender:</strong> The gender of the gym member (Male/Female).</li>
    <li><strong>Weight (kg):</strong> The weight of the gym member in kilograms.</li>
    <li><strong>Height (m):</strong> The height of the gym member in meters.</li>
    <li><strong>Avg_BPM:</strong> The average beats per minute (heart rate) during workout.</li>
    <li><strong>Session_Duration (hours):</strong> The duration of the workout session in hours.</li>
    <li><strong>Calories_Burned:</strong> The total calories burned during the workout session.</li>
    <li><strong>Workout_Type:</strong> The type of workout, including  Cardio, Yoga, Strength, and HIIT.</li>
    <li><strong>Water_Intake (liters):</strong> The amount of water consumed during the workout in liters.</li>
    <li><strong>Workout_Frequency (days/week):</strong> The number of days per week the member works out.</li>
    <li><strong>BMI:</strong> The Body Mass Index calculated based on the member's weight and height.</li>
</ul>
{% endblock %}
